*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#first{
  color: #E1624F;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#firsth1{
  color: #1B1B1B;
  font-size: 36px;
  font-weight: 700;
}

#description p {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

  #forlovers {
    color: #E1624F;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

body{
  margin: 88px 80px 48px;
}

#titlepage{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#description{
  display: flex;
  flex-direction: column;
  gap: 24px;

}

#description img {
  border-radius: 28px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 64px;
}

#title2{
  color: #1B1B1B;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 700;

}

#description3{
  margin-bottom: 64px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#image2 {
  border-radius: 28px;
}

#img3{
  border-radius: 28px;
}

#img4{
  border-radius: 28px;
}


#godfor{
  margin-bottom: 48px;
}

#templo1 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: 700;
}

#description7 {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#p3{
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

#history {
color: #0C51A7;
font-size: 16px;
font-weight: 700;
}


#img3{
  margin-bottom: 20px;
}

#contentcard2{
  margin-bottom: 48px;
}

#img4{
  margin-bottom: 20px;
}

#templo3 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: 700;
}

#content5 {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#bompara {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

#history2 {
  color: #0C51A7;
  font-size: 16px;
  font-weight: 700;
}

#templo10{
  color: #1B1B1B;
  font-size: 28px;
  font-weight: 700;
}

#description10 {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#godfor21{
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

#casais{
  color: #591B98;
  font-size: 16px;
  font-weight: 700;
}

#familias{
  color: #E5245E;
  font-size: 16px;
  font-weight: 700;
}

#orçamentos{
  color: #E95E10;
  font-size: 16px;
  font-weight: 700;
}

#finalp {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}



.divider2 {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 40px 0px;
}

#contentlist {
  display: flex;
  flex-direction: column;
}

#image2 {
  margin-bottom: 20px;
}

footer{
  margin-top: 65px;
  text-align: center;
}







